<app-header></app-header>
some body content
<app-my-component name="maaike" [age]="varAge"></app-my-component>
<button (click)="onClickChangeAgeBtn()">Click me</button>


<h1>
    {{title}}
</h1>
<app-item-list [items]="items" [filterText]="filterText" [sortField]="sortField" [sortOrder]="sortOrder"></app-item-list>
<input #filter type="text">
<button (click)="changeFilter(filter.value)">Change filter</button>
<select #fieldFilter (change)="onChangeFieldFilter(fieldFilter.value)">
    <option *ngFor="let field of fields" [value]="field">{{field}}</option>
</select>
<select #sortOrderFilter (change)="onChangeSortOrder(sortOrderFilter.value)">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
</select>
<button (click)="changeFilter(filter.value)">Change filter</button>