<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/79080195-8aac-4282-8f0d-5910cb4209c0/resourceGroups/maaike-db-demo/providers/Microsoft.Web/sites/maaikedbdemo</ResourceId>
    <ResourceGroup>maaike-db-demo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://maaikedbdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>98837bd3-b27f-4121-993f-0931b15bc61d</ProjectGuid>
    <PublishUrl>https://maaikedbdemo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$maaikedbdemo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>